/*Stylesheet for HTML file*/

body {
    font-style: Lucida Console; 
    color: midnightblue;
    background-color: blanchedalmond;
}

h1 {
    font: Arial, sans-serif;
    color: darkgreen;
}

p {
    font-style: Lucida Console;
    color: midnightblue;
    background-color: blanchedalmond;
}

/* Are there different types of alerts? Can some be styled and some pop from top web-tab? */
.list_alert {
  padding: 20px;
  background-color: palegreen;
  color: darkolivegreen;
  margin-bottom: 15px;
}


